$darkBlue: rgba(14, 9, 73, 1);
$darkGrey: rgba(59, 63, 72, 1);
$red: rgba(235, 96, 51, 1);
$lightBlue: rgba(228, 241, 250, 1);
$white: rgba(255, 255, 255, 1);
$lightBluebutton: rgba(191, 218, 234, 1);
