@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Montserrat:wght@600&display=swap');

$font-stack:Montserrat, sans-serif;

//Для форм:
$background-white:#F8FCFF;  //белый
$background-blue:#E4F1FA;  //голубой
$background-lightblue:#F8FCFF;  //светло-голубой
$background-darkblue:#0E0949;  //cиний

//Для текста:
$color-white:rgba(255, 255, 255, 1) ; 
$color-red: rgba(235, 96, 51, 1);
$color-grey: rgba(59, 63, 72, 1);



