
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$font-stack:'Montserrat', sans-serif;

//Для форм:
$background-white:white;  //белый
$background-blue:#E4F1FA;  //голубой
$background-lightblue:#F8FCFF;  //светло-голубой
$background-darkblue:#0E0949;  //cиний

//Для текста:
$color-white:rgba(255, 255, 255, 1) ; 
$color-red: rgba(235, 96, 51, 1);
$color-grey: #3b3f48;


html {
  box-sizing: border-box;
}

body {
  background-color: #E4F1FA;
  margin: 0;
  padding: 0;   
}

//kiki part

h1{
  color:  $color-grey;
  font-family: $font-stack;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  margin-bottom: -5%;
}

h2 {
  color:  $color-grey;
  font-family: $font-stack;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 50.4px */
}

h3 {
  color:  $color-grey;
  font-family: $font-stack;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 42px */
}

header {
  width: 100%;
  max-width: 1147px;
  height: auto;
  margin: 0 auto;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-areas: "nav_logo nav_links telegram_header";
  grid-template-columns: 15% 70% 10%;
}

.nav_logo {
  height: auto;
  width: 1rem;
}
.nav_links {
  display: flex;
  text-align: center;
  list-style: none;
  gap: 5%;
}
.nav_links li a {
  text-decoration: none;
  color:  $color-grey;
  font-family: $font-stack;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.main_container{
  width: 100%;
  max-width: 1147px;
  height: auto;
  margin: 0 auto;
}
.main_scr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.main_scr_text {
  text-align: left;
  align-self: center;
}
.main_scr_text p {
  color:  $color-grey;
  font-family: $font-stack;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-top: -5%;
}

.main_scr_button {

  color: white;
  font-family: $font-stack;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background:  #0E0949;
  box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.40);
}

.main_img {
  width: 100%;
  max-width: 600px;
  height: 100%;

}

.about {
  background-color: white;
  height: auto;

  width: 100%;
  margin: 0 auto;
}

.about_artist {
  padding-top: 8%;
  padding-bottom: 8%;

  display: grid;
  grid-template-columns: 50% 50%;

  width: 100%;
  max-width: 1147px;
  height: auto;
  margin: 0 auto;

}

.photo_art {
  width: 65%;
  display: block;
  margin: 0 auto;
}

.about_text p {
  color: $color-grey;
  font-family: $font-stack;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  margin-top: -1%;
}

//block no1 with pictures
.container_block-No1-with-pictures {
  width: 100%;
  max-width: 1147px;
  height: auto;
  margin: 0 auto;
  background: #e4f1fa;

}

.matser-cards {
  /* display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 1147px;
   gap: 3.1em;*/
 }

 .block-No1-h2 {
  color: #3b3f48;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  padding: 3%;
}

.block-No1-master_class {
  display: flex;
  margin-bottom: 70px;
  /* padding-bottom: 44px; */
  justify-content: center;
  gap: 3.1em;
  align-items: center;
  /* width: 100%;
  max-width: 1147px;
  height: 444px;*/

}

.block-No1-text {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.images_matser-cards {
  width: 100%;
  max-width: 570px;
}

.font-30, .font-30-320 {
  color: #3b3f48;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-block-start: 0;
    margin-bottom: 9px;
}

.font-30-320, .font-30-320_320 {
  display: none;
}

.materials_list {
  /* margin-block-start: 0.2em;
  margin-block-end: 0.2em;*/
  list-style-image: url(../images/ci_check.svg);
  margin-block-start: 0;
  margin-bottom: 0;
  /*padding-inline-start: revert;*/
}

.weight600 {
  color: #3b3f48;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-top: 4px;
  /*margin: 0px;
  padding: 0px;*/
}

.weight400, .materials_list {
  color: #3b3f48;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* margin: 0px;
  padding: 0px;*/
}

.button_block-No1 {
  display: flex;
  width: 83px;
  height: 26px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #0e0949;
  box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.4);
  color: #fff;
  /* Кнопка */
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 15px;
}

.button_more_master-classes {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 5%;

}

.button_block-No_1more_master-classes {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  padding: 15px 30px;
  gap: 10px;
  border-radius: 15px;
  background: #0e0949;
  /* Тень для синей кнопки */
  box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.4);
  color: #fff;
  /* Кнопка */
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
  text-transform: uppercase;
  text-decoration: none;
}


.button_block-No_1more_master-classes:hover, .button_block-No1:hover {
  border: 3px solid   #fff;
}

.price700 {
  color: #3b3f48;
  /* Стоимость */
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px*/
  margin-top: 4px;
}

.weight700 {
  color: #eb6033;
  /* Стоимость */
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}




//scrolling-block and footer part
  //Cлайдер
  .slider {
    height: 40%;
    background-color:$background-white;
    padding-top: 8%;
    padding-bottom: 5%;

    .slider__h2 {
        color: $color-grey;
        display: flex;
        justify-content: center;
        padding-bottom: 2%;
        
    
        font-family: $font-stack;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 50.4px */
      }

  }


  //блок фотографий
  .slider__block{
    display: flex;
    background-color: $background-white;
    overflow-x: scroll;
    padding: 5px;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  //фотографии
  .slider__images{
    max-width: 100%; 
    height: auto; 
    padding: 5px;
    box-sizing: border-box; 
  }

/*модальное окошко  */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  padding-top: 100px; /* Указывает отступ от верха */
}

.modal__close {
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.modal:target {
  display: block;
}

/* Стили для отображения модального окна, когда указанный элемент является :target */
:target {
  display: block;
}


  //футер
  .footer {
    display: flex;
    height: 80px;
    flex-shrink: 0;
    background-color:$background-blue;
    width: 100%;
    max-width: 1147px;
    height: auto;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    //padding-left: 20%;
//Сделано ученицами 
    .footer__text{
        color: $color-grey;
        display: flex;
        justify-content: center;
        align-self: center;
        padding:10px ;
        
        font-family: $font-stack;
      }
      //itgirls
      .footer__link{
        color: $color-grey;
        display: flex;
        justify-content: center;
        text-decoration: none;
        align-self: center;
        padding-left: 5px;
        
        font-family: $font-stack;
      }
  }
  
//логотип
  .footer__logo {
    justify-content: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    padding-right: 60px;
  }
  //логотип телеграмм
  .footer__simbol-telega {
    justify-content: center;
    align-self: center;
  }


  /* Медиазапрос для планшетов */
  @media (min-width: 768px) and (max-width: 900px) {

    body {
      background-color: #E4F1FA;
  }
  h1 {
      color:  $color-grey;
      font-family: $font-stack;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 60px */
      margin-bottom: -5%;
  }
  
  h2 {
      color:  $color-grey;
      font-family: $font-stack;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 50.4px */
  }
  
  h3 {
      color: $color-grey;
      font-family: $font-stack;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 42px */
  }
  
  header {
      margin-left: 5%;
      justify-content: space-between;
      align-items: center;
      display: grid;
      grid-template-areas: "nav_logo nav_links telegram_header";
      grid-template-columns: 15% 70% 10%;
  }
  
  .nav_logo {
      height: auto;
      width: 1rem;
  }
  
  .nav_links {
      display: flex;
      text-align: center;
      list-style: none;
      gap: 5%;
  }
  
  .nav_links li a {
      text-decoration: none;
      color:  $color-grey;
      font-family: $font-stack;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
  }
  
  .main_container {
      margin-left: 5%;
      height: 60vh;
  }
  
  .main_scr {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  
  .main_scr_text {
      text-align: left;
      align-self: center;
  }
  
  .main_scr_text p {
      color:  $color-grey;
      font-family: $font-stack;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 28px */
      margin-top: -5%;
  }
  
  .main_scr_button {
      color: $background-white;
      font-family: $font-stack;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 25.2px */
      text-transform: uppercase;
      text-decoration: none;
      display: inline-flex;
      padding: 15px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 15px;
      background:  #0E0949;
      box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.4);
  }
  
  .main_img {
    height: auto;
    width: 100%;
    max-width: 383px;
    margin:0 auto ;
  }
  
  .about {
      background-color: white;
  }

  header,.main_container,.main_scr,.container_block-No1-with-pictures,.about_artist,.footer{
    height: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 711px;
  }
  
  .about_artist {
      display: grid;
      grid-template-columns: 50% 50%;
      display: grid;
    
      
      
  }
  
  .photo_art {
      height: auto;
      width: 100%;
      max-width: 318px;
      display: block;
      margin: 0 auto;
  }
  
  .about_text p {
      color:  $color-grey;
      font-family: $font-stack;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 33.6px */
      margin-top: -1%;
  }


  //Блок мастер классы 
  .container_block-No1-with-pictures {
    background: #e4f1fa;
    //max-width: 768px;
   // height: 1790px;
    //padding: 0 30px;
  }
  .matser-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 711px;
    height: 1632px;
    gap: 15.098px;
  }
  .block-No1-h2 {
    align-self: center;
    text-align: center;
    padding: 3%;
    color: #3b3f48;
    /* МП/H2 */
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 39.2px */
  }
  .block-No1-master_class {
    display: flex;
    width: 100%;
    max-width: 711px;
    height: 377px;
    gap: 15.098px;
    padding-bottom: 44px;
    justify-content: center;
    align-items: flex-start;
  }
  .images_matser-cards {
    width: 100%;
    max-width: 315px;
    height: 246px;
    border-radius: 20px;
    border: 5px solid #fff;
    background: url(<path-to-image>), #d3d3d3 50%/cover no-repeat;
  }
  .font-30 {
    color: #3b3f48;
    /* МП/H3 */
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 30.8px */
    margin-block-start: 0;
    margin-top: 0;
  }
  .weight600 {
    font-family: "Montserrat", sans-serif;
    /* МП/Текст 14 полужирный */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px */
    color: #3b3f48;
  }
  .weight400, .materials_list {
    font-family: "Montserrat", sans-serif;
    /* МП/Текст 14 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    color: #3b3f48;
    margin-block-start: 0;
    margin-top: 0;
  }
  .button_block-No1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    background: #0e0949;
    /* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.4);
    color: #fff;
    /* МП/Кнопка */
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    text-transform: uppercase;
    text-decoration: none;
  }

.button_block {
  padding-top: 4%;
}

  .button_more_master-classes {
    padding-top: 50px;
  }
  .button_block-No_1more_master-classes {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #0e0949;
    /* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.4);
    color: #fff;
    /* МП/Кнопка */
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    text-transform: uppercase;
  }
  .button_block-No_1more_master-classes:hover, .button_block-No1:hover {
    border: 2px solid #fff;
  }
  .price700 {
    color: #3b3f48;
    /* МП/Стоимость */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
  }
  .weight700 {
    color: #eb6033;
    /* МП/Стоимость */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

   //Cлайдер
   .slider {
    height: 30%;
    background-color: $background-white;
    padding-top: 8%;
    padding-bottom: 5%;

    .slider__h2 {
        color: $color-grey;
        display: flex;
        justify-content: center;
        
    
        font-family: $font-stack;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 50.4px */
      }

  }


  //блок фотографий
  .slider__block{
    display: flex;
    background-color: $background-white;
    overflow-x: scroll;
    padding: 5px;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  //фотографии
  .slider__images{
    max-width: 461px; 
    height: 400px; 
    padding: 5px;
    box-sizing: border-box; 
  }

/*модальное окошко  */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  padding-top: 50%; /* Указывает отступ от верха */
}

.modal__close {
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.modal:target {
  display: block;
}

/* Стили для отображения модального окна, когда указанный элемент является :target */
:target {
  display: block;
}


  //футер
  .footer {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    height: 80px;
    flex-shrink: 0;
    background-color: $background-blue;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 3%;
//Сделано ученицами 
    .footer__text{
        color: $color-grey;
        display: flex;
        justify-content: start;
        align-self: center;
        padding:10px ;
        font-size: 14px;
        
        font-family: $font-stack;
      }
      //itgirls
      .footer__link{
        color: $color-grey;
        display: flex;
        justify-content: start;
        text-decoration: none;
        align-self: center;
        padding-left: 5px;
        
        font-family: $font-stack;
      }
  }

//логотип
  .footer__logo {
    justify-content: space-around;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    padding-right: 40px;
  }
  //логотип телеграмм
  .footer__simbol-telega {
    justify-content:space-around;
    align-self: center;
  }
  

  }

  //Версия для мобильных девайсов

  @media (min-width: 320px) and (max-width: 767px) {

    body {
      background-color: $background-blue;
      width: 98%;
  }
  h1 {
      color: $color-grey;
      font-family: $font-stack;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 60px */
      margin-bottom: -5%;
  }
  
  h2 {
      color: $color-grey;
      font-family: $font-stack;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 50.4px */
  }
  
  h3 {
      color: $color-grey;
      font-family: $font-stack;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 42px */
  }
  
  header {
  
margin-bottom: 3%;
      margin-left: 3%;
      justify-content: space-between;
      align-items: center;
      display: grid;
      grid-template-areas: "nav_logo nav_links telegram_header";
      grid-template-columns: 15% 70% 15%;
      width: 100%;
  }
  
  .nav_logo {
      height: auto;
     width: 50%;
  }
  
  .nav_links {
      display: flex;
      justify-content: space-evenly;
      padding-left: 15%;
      padding-right: 10px;

      text-align: center;
      list-style: none;
     /* gap: 15%;*/
  }
  
  .nav_links li a {
      text-decoration: none;
      color:  $color-grey;
      font-family:$font-stack;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
  }

  .main_container {
      margin-left: 2%;
      margin-right: 1.2%;
      margin-bottom: -10%;
      height: auto;
  }
  
  .main_scr {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      "main_scr_img"
      "main_scr_text";

  }
  
  .main_scr_text {
    grid-area: main_scr_text;

      text-align: left;
      align-self: center;
      margin-top: -45%;
    
      padding-top: 5%;
      padding-bottom: 3%;
  }
  .main_scr_text h2{
    padding-top: 3%;
  }
  
  .main_scr_text p {
      color:  $color-grey;
      font-family:$font-stack;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 28px */
      padding-top: 5%;
      margin-top: -5%;
  }
  
  .main_scr_button {
      color: $background-white;
      font-family: $font-stack;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 25.2px */
      text-transform: uppercase;
      text-decoration: none;
      display: inline-flex;
      margin-top: 20px;
      padding: 15px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 15px;
      background-color: $background-darkblue;
      box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.4);
  }
  
  .main_img {
    grid-area: main_scr_img;
    width: 100%;
    height: auto;
  }
  
  .about {
      background-color: white;
      height: auto;
      width: auto;
      padding-top: 10%;
      padding-bottom: 15%;
      

  }

  .about_text{
    width: 80vw;
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
    padding-bottom: 3%;
  
  }
  
  .about_artist {
    padding-top: 8%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 

  }
  
  .photo_art {
    width: 288px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 5%;
  
  }
  
  .about_text p {
    color:  $color-grey;
    font-family:$font-stack;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin-top: 0; 
  
  }

  //Мастер классы 

  .container_block-No1-with-pictures {
    width: 100%;
   /* width: 100%;
    max-width: 767px;
    height: 2179px;*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
  }
  .block-No1-h2 {
    color: #3b3f48;
    /* Телефон/H2 */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 24px */
  }
  .matser-cards {
    /*display: inline;
    width: 290px;*
    width: 100%;
    max-width: 300px;
    /*height: 2179px;
    height: 2400px;*/
    width: auto;
    height: auto;
  }
  .block-No1-master_class {
    /*width: 290px;
    height: 606px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
    padding-top: 54px;*/
    width: 100%;
    max-width: 290px;
    height: 606px;
    flex-direction: column;
    display: flex;
    gap: 6px;
    padding-top: 25%;
    align-items: center;
  }
  .images_matser-cards {
    width: 100%;
    max-width: 288px;
    height: 201px;
    border-radius: 20px;
    border: 5px solid #fff;
    background: url(<path-to-image>), lightgray 50%/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .font-30 {
    display: none;
    color: #3b3f48;
    text-align: center;
    /* Телефон/H3 */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
  }
  .font-30-320 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #3b3f48;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 120%; /* 24px */
  }
  .block-No1-text {
    //padding-left: 5%;
    //padding-right: 2%;
    /* width: 277.996px;
    height: 140px;
    display: inline;*/
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .weight600 {
    color: #3b3f48;
    /* Телефон/Текст 14 полужирный */
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
  }
  .weight400, .materials_list {
    color: #3b3f48;
    /* Телефон/Текст 14 */
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }
  li ::before {
    position: absolute;
    left: -30px;
    display: flex;
    list-style-type: none;
    list-style-image: url(../images/ci_check_mobile.svg);
    background-repeat: no-repeat;
    background-size: auto;
    flex-direction: column;
  }
  .button_block-No1 {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #0e0949;
    /* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.4);
    color: #fff;
    /* Телефон/Кнопка */
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px*/
    text-transform: uppercase;
    width: auto;
    height: auto;
  }
  .button_block {
    display: flex;
    justify-content: center;
    padding-left: 28%;
  
    padding-top: 9%;
  }
  .button_more_master-classes {
   /* display: flex;
    justify-content: center;*/
    padding-top: 11%;
    padding-bottom: 10%;
  }
  .button_block-No_1more_master-classes {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #0e0949;
    /* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.4);
    color: #fff;
    /* Телефон/Кнопка */
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px*/
    text-transform: uppercase;
    width: auto;
    height: auto;
  }
  .price700 {
    color: #3b3f48;
    /* Телефон/Стоимость */
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
  }
  .weight700 {
    color: #eb6033;
    /* Телефон/Стоимость */
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }


    //Cлайдер
    .slider {
     height: 20%;
     background-color: $background-white;
     padding-top: 10%;
     padding-bottom: 10%;
 
     .slider__h2 {
         color: $color-grey;
         display: flex;
         justify-content: center;
         
     
         font-family: $font-stack;
         font-size: 20px;
         font-style: normal;
         font-weight: 600;
         line-height: 120%; /* 50.4px */
       }
 
   }
 
 
   //блок фотографий
   .slider__block{
     display: flex;
     background-color: $background-white;
     overflow-x: scroll;
     padding: 5px;
     box-sizing: border-box;
     flex-shrink: 0;
   }
   //фотографии
   .slider__images{
     max-width: 288px; 
     height: 250px; 
     padding: 5px;
     box-sizing: border-box; 
   }
 
 /*модальное окошко  */
 .modal {
   display: none;
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.7);
 }
 
 .modal__img {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 400px;
   padding-top: 50%; /* Указывает отступ от верха */
 }
 
 .modal__close {
   position: fixed;
   top: 100px;
   right: 25px;
   font-size: 40px;
   font-weight: bold;
   color: #ffffff;
   text-decoration: none;
   padding: 10px;
   cursor: pointer;
 }
 
 .modal:target {
   display: block;
 }
 
 /* Стили для отображения модального окна, когда указанный элемент является :target */
 :target {
   display: block;
 }
 
 
   //футер
   .footer {
     display: flex;
     justify-content: start;
     align-content: start;
     height: 80px;
     flex-shrink: 0;
     background-color:$background-blue;
     padding-top: 2%;
     padding-bottom: 1%;
     padding-left: 3%;
 //Сделано ученицами 
     .footer__text{
         color: $color-grey;
         display: flex;
         justify-content: center;
         align-self: center;
         padding:10px ;
         font-size: 12px;
         
         font-family: $font-stack;
       }
       //itgirls
       .footer__link{
         color: $color-grey;
         display: flex;
         justify-content: center;
         text-decoration: none;
         align-self: center;
         padding-left: 5px;
         font-size: 12px;
         
         font-family: $font-stack;
       }
   }
 
 //логотип
   .footer__logo {
     justify-content: start;
     width: 70px;
     height: 70px;
     flex-shrink: 0;
     padding-right: 20px;
   }
   //логотип телеграмм
   .footer__simbol-telega {
     align-self: center;
   }
   
 
   }
 
 