@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Montserrat:wght@100;400;500;600&family=Pacifico&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Montserrat:wght@100;400;500;600&family=Pacifico&family=Raleway:wght@700&family=Roboto+Slab&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;    
}

.container_block-No1-with-pictures {
    width: 100%;
    max-width: 1920px;
    height: 2030px;
    background: #e4f1fa;
}

.matser-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 100%;
    max-width: 1147px;*/
    gap: 3.1em;
}

.block-No1-h2 {
    color: #3B3F48;
    font-family: 'Montserrat';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    padding: 3%;   
}

.block-No1-master_class {
    display: flex;
    padding-bottom: 44px;
    justify-content: center;
    gap: 3.1em;
    /* width: 100%;
    max-width: 1147px;
    height: 444px;*/
    /*align-items: flex-start;*/
}

/*.block-No1-text {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}*/

.images_matser-cards {
    width: 100%;
    max-width: 570px;
}

.font-30, .font-30-320 {
    color: #3b3f48;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.font-30-320, .font-30-320_320 {
    display: none;
}

.materials_list {
    /* margin-block-start: 0.2em;
    margin-block-end: 0.2em;*/
    list-style-image: url(../images/ci_check.svg);
    /*padding-inline-start: revert;*/
}

.weight600 {
    color: #3b3f48;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /*margin: 0px;
    padding: 0px;*/
}

.weight400,  .materials_list{
    color: #3b3f48;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* margin: 0px;
    padding: 0px;*/
}

.button_block-No1 {
    display: flex;
    width: 83px;
    height: 26px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #0e0949;
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.40);
    color: #fff;
    /* Кнопка */
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-transform: uppercase;
    text-decoration: none;
}

.button_block-No_1more_master-classes {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #0e0949;
    /* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.40);
    color: #fff;
    /* Кнопка */
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    text-transform: uppercase;
    text-decoration: none;
}

.button_block-No_1more_master-classes:hover, .button_block-No1:hover {
    border: 3px solid   #fff;
}

.price700 {
    color: #3b3f48;
    /* Стоимость */
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px*/ 
}

.weight700 {
    color: #eb6033;
    /* Стоимость */
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}


@media screen and (max-width: 768px) {
.container_block-No1-with-pictures {
    background: #e4f1fa;
    max-width: 768px;
    height: 1632px;
    padding: 0 30px;
}

.matser-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 711px;
    height: 1632px;
    gap: 15.098px;
}
.block-No1-h2 {
    align-self: center;
    text-align: center;
    padding: 3%;       
    color: #3b3f48;
    /* МП/H2 */
    font-family: 'Montserrat';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 39.2px */
}

.block-No1-master_class {
    display: flex;
    width: 100%;
    max-width: 711px;
    height: 377px;
    gap: 15.098px;
    padding-bottom: 44px;
    justify-content: center;
    align-items: flex-start;
}

.images_matser-cards {
    width: 100%;
    max-width: 315px;
    height: 246px;
    border-radius: 20px;
    border: 5px solid #fff;
    background: url(<path-to-image>), #d3d3d3 50% / cover no-repeat;
}

.font-30 {
    color: #3b3f48;
/* МП/H3 */
    font-family: 'Montserrat';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 30.8px */
}

.weight600 {
    font-family: 'Montserrat';
    /* МП/Текст 14 полужирный */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px */
    color: #3b3f48;
}

.weight400,  .materials_list{
    font-family: 'Montserrat';
    /* МП/Текст 14 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    color: #3b3f48;
    
}

.button_block-No1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    background: #0e0949;
    /* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.40);
    color: #fff;
    /* МП/Кнопка */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    text-transform: uppercase;
    text-decoration: none;
}
.button_more_master-classes {
    padding-top: 50px;
}

.button_block-No_1more_master-classes {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #0e0949;
/* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.40);
    color: #fff;
    /* МП/Кнопка */
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    text-transform: uppercase;
}

.button_block-No_1more_master-classes:hover, .button_block-No1:hover {
    border: 2px solid  #fff;
}

.price700 {
    color: #3b3f48;
    /* МП/Стоимость */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
}

.weight700 {
    color: #eb6033;
    /* МП/Стоимость */
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
}

@media screen and (max-width: 320px) {
.container_block-No1-with-pictures {
    width: 320px;
    /*height: 2179px;*/
    height: 2400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-No1-h2 {
    color: #3b3f48;
    /* Телефон/H2 */
    padding-top: 40px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 24px */
}
    
.matser-cards {
    /*display: inline;
    /*width: 290px;*/
    width: 100%;
    max-width: 300px;
    /*height: 2179px;*/
    height: 2400px;
}

.block-No1-master_class {
    /*width: 290px;
    height: 606px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
    padding-top: 54px;*/
    width: 100%;
    max-width: 290px;
    height: 606px;
    flex-direction: column;
    display: flex;
    gap: 6px;
    padding-top: 54px;
    align-items: center;
}
    
.images_matser-cards {
    width: 100%;
    max-width: 288px;
    height: 201px;
    border-radius: 20px;
    border: 5px solid #fff;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.font-30 {
    display: none;
    color: #3b3f48;
    text-align: center;
    /* Телефон/H3 */
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
}

.font-30-320 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #3b3f48;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 120%; /* 24px */
}

.block-No1-text{
    /* width: 277.996px;
    height: 140px;
    display: inline;*/
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: flex-start;
}

    .weight600 {
        color: #3b3f48;
        /* Телефон/Текст 14 полужирный */
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 19.6px */
}

.weight400, .materials_list{
    color: #3b3f48;
    /* Телефон/Текст 14 */
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}
    
    li ::before {
        position: absolute;
        left: -30px;
        display: flex;
        list-style-type: none;
        list-style-image: url(../images/ci_check_mobile.svg);
        background-repeat: no-repeat;
        background-size: auto;
        flex-direction: column;
}

.button_block-No1 {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #0e0949;
    /* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.40);
    color: #fff;
    /* Телефон/Кнопка */
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px*/ 
    text-transform: uppercase;
    width: auto;
    height: auto;
}

.button_block {
    display: flex;
    justify-content: center;
    padding-left: 89px;
}

.button_more_master-classes {
    display: flex;
    justify-content: center;
}
.button_block-No_1more_master-classes {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background:  #0e0949;
    /* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.40);
    color: #fff;
    /* Телефон/Кнопка */
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px*/
    text-transform: uppercase;
    width: auto;
    height: auto;
}

.price700 {
    color: #3b3f48;
    /* Телефон/Стоимость */
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.weight700 {
    color: #eb6033;

    /* Телефон/Стоимость */
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
}
/*# sourceMappingURL=index.css.map */