@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Montserrat:wght@100;400;500;600&family=Pacifico&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Montserrat:wght@100;400;500;600&family=Pacifico&family=Raleway:wght@700&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 4596px; 
}

.container_block-No1-with-pictures {
    background:var(---, #E4F1FA);
    width: 1920px;
    height: 1977px;
}

.matser-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: 444px;
    gap: 50px;
}

.block-No1-h2 {
    color: #3B3F48;
    font-family: 'Montserrat';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    /*line-height: 140%;*/
    align-self: center;
    text-align: center;
    padding: 3%;   
}

.block-No1-master_class {
    display: flex;
    width: 1147px;
    height: 444px;
    padding-bottom: 44px;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.block-No1-text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    width: 528px;
    height: 444px;
    /*margin: 0px;
    padding: 0px;*/
    text-wrap: balance;
}

.images_matser-cards {
    display: flex;
    width: 570px;
    height: 400px;
}

.font-30 {
    color: var(---, #3B3F48);
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    /*margin: 0px;
    padding: 0px;*/
    line-height: 140%;
}

.materials_list {
   /* margin-block-start: 0.2em;*/
    margin-block-end: 0.2em;
    list-style-type: none;
    list-style-image: url(../images/ci_check.png);
    padding-inline-start: revert;
}

/*.materials_list{
    padding-left: 31px;
    /* position: relative; 
    margin: 1px;
    list-style-type: none;
    list-style-image: url(../images/ci_check.svg);
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    width: 24px;
    height: 24px;
}*

ul{
   /* list-style-type: none;
    list-style-image: url(../images/ci_check.svg);
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  list-style-type: none;
  list-style-image: url(../images/Vector-min.png);*/
}
::marker {
   /* margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    list-style-type: none;
    list-style-image: url(../images/Vector-min.png);
    width: 24px;
height: 24px;*/
}

.weight600 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(---, #3B3F48);
    /*margin: 0px;
    padding: 0px;*/
}

.weight400,  .materials_list{
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(---, #3B3F48);
   line-height: 120%;
    /* margin: 0px;
    padding: 0px;*/
}

.button_block-No1 {
    display: flex;
    width: 83px;
    height: 26px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: var(---, #0E0949);
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.40);
    color: var(---, #FFF);
    /* Кнопка */
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-transform: uppercase;
    text-decoration: none;
}

.button_block-No_1more_master-classes {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: var(---, #0E0949);
    /* Тень для синей кнопки */
    box-shadow: 5px 5px 25px 0px rgba(14, 9, 73, 0.40);
    color: var(---, #FFF);
    /* Кнопка */
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    text-transform: uppercase;
    text-decoration: none;
}

.button_block-No_1more_master-classes:hover, .button_block-No1:hover {
    border: 3px solid  var(---, #FFF)
}

.price700 {
    color: var(---, #3B3F48);
    /* Стоимость */
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    /*margin: 0px;
    padding: 0px;*/
    line-height: 140%; /* 33.6px*/ 
}

.weight700 {
    color: #EB6033;
    /* Стоимость */
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    /*margin: 0px;
    padding: 0px;*/
    line-height: 140%;
}

@media all and (max-width: 320px) {
    /*body {
    width: 320px;
    height: 4090px;
}*/
    .block-No1-h2 {
        color: var(---, #3B3F48);
        /* Телефон/H2 */
        padding-top: 40px;
        font-family: 'Montserrat';
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
}
    .container_block-No1-with-pictures {
        width: 320px;
        height: 2179px;
        display: flex;
        flex-direction: column;
        align-items: center;
}
    .matser-cards {
        flex-direction: column;
        align-items: center;
        width: 290px;
        height: 606px;
    }
    .block-No1-master_class {
        width: 290px;
        height: 606px;
        flex-direction: column;
        display: flex;
        padding-bottom: 44px;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
    }
    
    .images_matser-cards {
        width: 288px;
        height: 201px;
        border-radius: 20px;
        border: 5px solid var(---, #FFF);
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        flex-direction: column;
        justify-content: center;
    }

    .font-30 {
        color: var(---, #3B3F48);
        text-align: center;
        /* Телефон/H3 */
        font-family: 'Montserrat';
        font-size: 20px!important;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 24px */
    }

    .block-No1-text{

    }

    .weight600 {
        color: var(---, #3B3F48);
    /* Телефон/Текст 14 полужирный */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
    }

    .weight400 {
        color: var(---, #3B3F48);
    /* Телефон/Текст 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    }

   .materials_list {
    width: 277.996px;
    height: 140px;
    list-style-type: none;
    list-style-image: url(../images/ci_check.png);
    padding-inline-start: revert;
    width: 218.059px;
    color: var(---, #3B3F48);
    /* Телефон/Текст 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
   }
}
/*# sourceMappingURL=index.css.map */
